*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#f5f6fa;
}

nav{
    background:#2c3e50;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 40px;

    position:sticky;
    top:0;
    z-index:1000;
}

.logo{
    font-size:22px;
    font-weight:bold;
}

nav ul{
    display:flex;
    list-style:none;
    gap:20px;
}

nav a{
    color:white;
    text-decoration:none;
}

nav a:hover{
    color:#3498db;
}

.hero{
    height:500px;

    background:
    linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),
    url("https://images.unsplash.com/photo-1483985988355-763728e1935b");

    background-size:cover;
    background-position:center;

    display:flex;
    justify-content:center;
    align-items:center;
}

.hero-content{
    text-align:center;
    color:white;
}

.hero-content h1{
    font-size:48px;
    margin-bottom:15px;
}

.hero-content p{
    margin-bottom:20px;
}

button{
    padding:12px 25px;
    border:none;
    border-radius:8px;
    background:#3498db;
    color:white;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#2980b9;
}

.container{
    width:90%;
    max-width:1200px;
    margin:40px auto;
}

#searchInput{
    width:100%;
    padding:12px;
    border:1px solid #ccc;
    border-radius:8px;
    margin-bottom:20px;
}

#lokasi{
    background:white;
    padding:15px;
    border-radius:10px;
    margin-bottom:20px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

#hasil{
    display:grid;
    grid-template-columns:
    repeat(auto-fit,minmax(300px,1fr));

    gap:20px;
}

.card{
    background:white;
    border-radius:10px;
    overflow:hidden;

    box-shadow:0 0 10px rgba(0,0,0,0.1);

    transition:0.3s;
}

.card:hover{
    transform:translateY(-5px);
}

.gambar-toko{
    width:100%;
    height:220px;
    object-fit:cover;
}

.card h3{
    padding:15px 15px 5px;
}

.card p{
    padding:0 15px 10px;
}

footer{
    margin-top:50px;
    background:#2c3e50;
    color:white;
    text-align:center;
    padding:20px;
}

@media(max-width:768px){

    nav{
        flex-direction:column;
        gap:10px;
    }

    nav ul{
        flex-direction:column;
        text-align:center;
    }

    .hero h1{
        font-size:32px;
    }

}
.btn-maps{
    display:block;
    width:90%;
    margin:15px auto;
    padding:12px;
    text-align:center;
    text-decoration:none;
    background:#34a853;
    color:white;
    border-radius:8px;
    font-weight:bold;
    transition:0.3s;
}

.btn-maps:hover{
    background:#2d8a46;
}

#tentang{
    background:white;
    padding:30px;
    margin-top:40px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

#tentang h2{
    margin-bottom:15px;
    color:#2c3e50;
}

#tentang p{
    margin-bottom:10px;
    line-height:1.8;
    color:#555;
    text-align:justify;
}